[user]
    signingkey = ~/.ssh/sign.pub
[credential]
[commit]
    # gpgsign = true
[diff]
    colorMoved = default
    # tool = vscode
[core]
    autocrlf = input
    quotepath = false
    # editor = $EDITOR
    excludesfile = ~/.gitignore_global
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[format]
    pretty = format:Commit: %C(auto)%h%d%nAuthor: %an <%ae>%nDate:   %ad (%cd)%n%n%w(0,4,4)%s%n%+b
[init]
    defaultBranch = main
[log]
    date = format:%Y-%m-%d %H:%M:%S %z %a
[merge]
    conflictstyle = zdiff3
[pull]
    rebase = true
[rerere]
    enabled = true
[include]
    path = ~/.delta.gitconfig
