[credential]
{%- if os() == "windows" %}
    helper = manager
{%- elif os() == "macos" %}
    helper = osxkeychain
{%- elif os() == "linux" %}
    helper = cache --timeout 21600
    helper = oauth -device
{%- endif %}
[diff]
    colorMoved = default
{%- if os() != "linux" %}
    tool = vscode
{%- endif %}
[core]
    autocrlf = input
    quotepath = false
{%- if os() == "linux" %}
    editor = $EDITOR
{%- else %}
    editor = code --wait
{%- endif %}
    excludesfile = ~/.gitignore_global
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[init]
    defaultBranch = main
[alias]
    pushfl = push --force-with-lease
[format]
    pretty = format:Commit: %C(auto)%h%d%nAuthor: %an <%ae>%nDate:   %ad (%cd)%n%n%w(0,4,4)%s%n%+b
[log]
    date = format:%Y-%m-%d %H:%M:%S %z %a
[merge]
    conflictstyle = zdiff3
[pull]
    rebase = true
[rerere]
    enabled = true
[include]
    path = ~/.delta.gitconfig
{%- if vars.git_extra is defined %}
{{ vars.git_extra | trim }}
{%- endif %}
